%h1 BC RESIDENTS

%p Entering into its 15th year, our popular B.C. Resident program offers special green fee rates for residents from British Columbia, throughout our golfing season in Whistler. Tee times may be booked 30 days in advance. Only have a few hours for golf? Try our 9 holes anytime or "5 after 5".

/ %h2 NEW FOR 2010

%p <strong>Book earlier!</strong> B.C. Resident rates may now be <a caption="&lt;a href='/rates/bc-residents'&gt;Go to the BC Resident Page&lt;/a&gt;" class='lightwindow' href='http://book.golfswitch.com/webpro/search.asp?CUSTID=WA3&amp;COURSEID=FOR~1210&amp;REF=http://www.whistlergolf.com' params='lightwindow_width=800, lightwindow_iframe_embed=false, lightwindow_type=page'>booked</a> 30 days in advance.
 
%h2 2011 B.C. RESIDENT RATES*

%table
  %tr
    %th{:colspan => 6} &nbsp;
  %tr
    %td.first 
    %td Daily
    %td Savings!
    %td Twilight (3pm)
    %td Sunset (5pm) <br />or 9 Holes anytime
    %td 5 after 5**
  %tr
    %td.first May
    %td $79
    %td $30
    %td $69
    %td $59
    %td $15
  %tr
    %td.first June-September
    %td $99
    %td $30
    %td $89
    %td $69
    %td $15
  %tr
    %td.first October
    %td $79
    %td $30
    %td $69
    %td $59
    %td $15
   
/ %h2=link_to "BOOK TEE TIME NOW", "http://book.golfswitch.com/webpro/search.asp?CUSTID=WA3&COURSEID=FOR~1210&REF=http://www.whistlergolf.com", :class => 'lightwindow booking_link', :params => 'lightwindow_width=805'
%h2= link_to "BOOK ONLINE AND SAVE <span class='small_button_text'>Daily green fee specials while they last</span>", "http://book.golfswitch.com/Course/courseList.asp?custid=WA3&amp;courseid=FOR1210", :class => 'booking_link'
    
%p * Booking Privileges: Tee times may be booked one month from date of play. Valid B.C. Drivers license will be requested at check-in.

%p ** 5 holes of golf after 5pm.