%script{ :type => "text/javascript" }
  = getAccordion

/ %h1 INTRODUCTION TO GOLF CLINICS 
/ %h1 Lessons, Clinics and Nike Junior Golf Schools

/ %p Our popular group clinics feature a Spring session that begins May 9th and a summer session that begins June 22nd.

%h1 INSTRUCTIONAL PROGRAMS

/ %p Program Overview 
/ %p At the Whistler Golf Club’s Learning and Performance Center you’ll be able to enjoy all the spectacular views that Whistler Mountain has to offer.  We are located steps away from the Gondola in the heart of the Whistler village.  Bring the family to enjoy an afternoon in the sun or book a large group for a team building lesson.  With our 28 public hitting stalls and a covered hitting area for lessons, we have more than enough room to accommodate just about anyone. 

%p Known in Whistler as “The Range”, our practice facility opened July 17, 2010 after a complete renovation. Whether you’re looking to work on every aspect of your game, or simply stopping by to rent a club and hit a few balls, The Range now has everything you need. Located just east of the golf course, The Range offers a complete series of lesson programs including private and couples lessons, mixed and ladies group clinics, junior golf schools and more.

%p Our C.P.G.A. Teaching Professionals are on site to help you with all aspects of your game. Choose from the program list below or call us with your lesson needs and we’ll build a custom program for you. All programs include our ASTAR video analysis.


#programs-accordion.accordion
  
  .accordion-toggle
    > PRIVATE LESSONS 
  #0.accordion-content
    %h2 PRIVATE LESSONS  
    %br
    %table
      %tr
        %th{:colspan => 2} PRIVATE LESSONS
      %tr
        %td.first{:style => "width: 50%;"}  Private Lessons (30 minutes)
        %td $70.00
    
      %tr
        %td.first Couples Lessons (1 hour)
        %td $130.00 
        
      %tr
        %td.first 9 hole on course lesson
        %td $250.00 *<br /> $350.00 * includes back nine
    
    %p Available Mon-Fri after 3:00 pm. Includes green fee, cart, clubs, shoes. <br /> *Add $75 for playing lessons before 3pm or on weekends.
    
    %table
      %tr
        %th{:colspan => 2} PRIVATE LESSONS
      %tr
        %td.first{:style => "width: 50%;"}  3 Lesson Package (45 minutes)
        %td $210.00
    
      %tr
        %td.first 5 Lesson Package (45 minutes)
        %td $325.00
        
      %tr
        %td.first 10 Lesson Package (45 minutes)
        %td $600.00
    
    %p To book a lesson or package, call the Golf Shop at 604-932-3280.
  
  
  
  
    	
 	
 	
  
  .accordion-toggle
    > INTRODUCTION TO GOLF CLINICS
  #1.accordion-content
    %h2 INTRODUCTION TO GOLF CLINICS  
    %h3 Program Overview $199 
    %p Designed for new golfers, this exciting program focuses on the basic fundamentals of golf, including grip, posture, and alignment, basics in swing principals, putting, chipping, and etiquette. <strong>Five sessions</strong> will have you ready to hit the links with confidence.
     
    %p Maximum 6:1 Student/CPGA Professional Ratio 
    %ul
      %li Five one hour group clinics taught on course at the Whistler Golf Club
      %li Includes 5 transferable Sunset (after 5pm) Green Fees valid for the 2011 season
      %li Complimentary use of rental clubs during lessons and sunset play.
      %li Use of power carts for sunset green fees at half price $10 
      %li 15% off hard goods (not including sale items)
      %li 20% off soft goods (not including sale items)
      %li Beginner golf equipment packages starting at $299.95    
    %table
      %tr
        %th{:colspan => 4} INTRODUCTION TO GOLF CLINICS
      %tr
        %td.first{:style => "width: 30%;"}  Session 1
        %td Mondays
        %td May 9, 16, 23, 30 June 6
        %td 5:30- 6:30pm 
    
      %tr
        %td.first Session 2
        %td Tuesdays 
        %td June 21, 28, July 5, 12, 19
        %td 5:30- 6:30pm 
          
  
  .accordion-toggle
    > LADIES ONLY CLINICS
  #2.accordion-content
    %h2 LADIES ONLY CLINICS 
    %h3 Program Overview $259 
    %p Designed for beginner and intermediate golfers alike, this exciting program focuses on the basic fundamentals of golf, including grip, posture, and alignment, basics in swing principals, putting, chipping, and etiquette. <strong>Five sessions</strong> will have you ready to hit the links with confidence.
    
    %p Have your own group? We’ll schedule a time just for you.
    
    %p Maximum 6:1 Student/CPGA Professional Ratio 
    
    %ul
      %li Five one hour group clinics taught at our newly renovated practice facility<br /> and on course at the Whistler Golf Club
      %li Complimentary Chef dinner creation and Adult beverage following the clinic.
      %li Includes 5 transferable Sunset (after 5pm) Green Fees valid for the 2011 season
      %li Complimentary rental clubs during lessons and sunset play.
      %li Use of power carts for sunset green fees at half price $10 
      %li 15% off hard goods (not including sale items) 
      %li 20% off soft goods (not including sale items)
      %li Beginner golf club packages starting at $299.95   
       
    %table
      %tr
        %th{:colspan => 4} LADIES ONLY CLINICS 
      %tr
        %td.first{:style => "width: 30%;"}  Session 3
        %td Tuesdays
        %td May 10, 17, 24, 31, June 7
        %td 5:30- 6:30pm 
    
      %tr
        %td.first Session 4
        %td Wednesdays 
        %td May 11, 18, 25, June 1, 8
        %td 5:30-6:30pm 
    
      %tr
        %td.first Session 5
        %td Thursdays
        %td May 12, 19, 26, June 2, June 9
        %td 5:30-6:30pm
      
      %tr
        %td.first Session 6
        %td Tuesdays
        %td May 10, 17, 24, 31, June 7
        %td 6:30- 7:30pm
      
      %tr
        %td.first Session 7
        %td Tuesdays
        %td May 10, 17, 24, 31, June 7
        %td 6:30- 7:30pm
        
      %tr
        %td.first Session 8
        %td Wednesdays
        %td June 22, 29, July 6, 13, 20
        %td 5:30-6:30pm
      
      %tr
        %td.first Session 9
        %td Thursdays
        %td June 23, 30, July 7, 14, 21
        %td 5:30-6:30pm
                   
        
  .accordion-toggle
    > JUNIOR CLINICS
  #3.accordion-content
    %h2 JUNIOR CLINICS 
    %h3 5 session Birdie’s and Eagle’s clinics
     
    %p Lead by our C.P.G.A Teaching Professionals, our <strong>5 session Junior Clinics</strong> will introduce our students to all aspects of the game including playing safely, pre-shot fundamentals, the swing motion, full swing fundamentals, impact, finishing position, short game skills, equipment evaluation, and practice drills. 
    %p <strong>$129</strong> Maximum 6:1 Student/CPGA Professional Ratio
             
    %table
      %tr
        %th{:colspan => 4}
          JUNIOR CLINICS 
      
      %tr
        %td.first{:style => "width: 30%;"} Session 10 
        %td Mondays
        %td May 9, 16, 23, 30, June 6   
        %td 4:30-5:30 pm  (Eagles Age 7-14)   
        
      %tr  
        %td.first Session 11 
        %td Saturdays
        %td May 7, 14, 21, 28, June 4
        %td 9:00am-10:00am (Birdies Age 4-6)   
        
      %tr  
        %td.first Session 12
        %td Saturdays 
        %td May 7, 14, 21, 28, June 4
        %td 10:15- 11:15 am (Eagles Age 7-14) 
        
      %tr
        %td.first Session 13 
        %td Sundays 
        %td May 8, 15, 22, 29 June 5 
        %td 9:00am-10:am (Birdies Age 4-6)  
        
      %tr  
        %td.first Session 14
        %td Sundays 
        %td May 8, 15, 22, 29 June 5  
        %td 10:15- 11:15am (Eagles Age 7-14) 
        
      %tr  
        %td.first Session 15
        %td Saturdays
        %td July 2, 9, 16, 23, 30
        %td 9:00- 10:00am  (Birdies Age 4-6)
        
      %tr  
        %td.first Session 16
        %td Saturdays
        %td July 2, 9, 16, 23, 30
        %td 10:15-11:15am  (Eagles Age 7-14)
        
      %tr  
        %td.first Session 17
        %td Sundays
        %td July 3, 10, 17, 24, 31
        %td 9:00-10:00am  (Birdies Age 4-6)
        
      %tr  
        %td.first Session 18
        %td Sundays
        %td July 3, 10, 17, 24, 31
        %td 10:15- 11:15am  (Eagles Age 7-14)
  
        
  .accordion-toggle
    > JUNIOR ACADEMY PLAYER DEVELOPMENT CLINICS
  #4.accordion-content
    %h2 JUNIOR ACADEMY
    %h3 Player Development Clinics
    
    %p Lead by our CPGA Teaching Professionals these sessions are designed for juniors who have a solid grasp of the fundamentals of the game and are looking to take it to the next level. One great price gets you access to all 20 sessions during the season or simply call to drop in for any session.
    %p <strong>$199</strong> 20 clinics
    %p <strong>$25</strong> Daily drop in. Reservations required
             
    %table
      %tr
        %th{:colspan => 4}
          JUNIOR ACADEMY PLAYER DEVELOPMENT CLINICS
      
      %tr
        %td.first{:style => "width: 30%;"} Session 19
        %td Saturdays
        %td May 7 - September 17  
        %td 11:30am - 12:30pm
        
      %tr  
        %td.first Session 20
        %td Sundays 
        %td May 8 - September 18
        %td 11:30am - 12:30pm
    
    %img{:src => '/images/junior_golf_camp.jpg'}    
        
  .accordion-toggle
    > NIKE JUNIOR GOLF SCHOOLS
  #5.accordion-content
    %h2 NIKE JUNIOR GOLF SCHOOLS 
    %h3 Program Overview $499/$549
     
    %p Our four day schools will include golf instruction for the junior that focuses on fundamentals, safety, etiquette, rules and fun. Our daily activities include 2 hours of instruction in them morning at our newly renovated practice facility followed by nine holes of on course instruction after lunch. Juniors continue to play the back nine in the afternoon during our High Performance Schools. Each junior will receive a Nike golf shirt and hat along with lunch daily. Our Nike Junior Golf Schools are lead by C.P.G.A. Teaching Professionals. <strong>PARENTS ASK ABOUT OUR GREEN FEE SPECIAL RATES FOR PARENTS DURING SCHOOL WEEK</strong>.
    %p Capacity: 12 juniors
             
    %table
      %tr
        %th{:colspan => 3}
          Ages 7 – 14 years old 
      
      %tr
        %td.first{:style => "width: 30%;"} School 1  
        %td July 11th – 14th   
        %td 11:00 am -5:00 pm    
        
      %tr  
        %td.first School 2  
        %td July 18th – 22nd   
        %td 11:00 am -5:00 pm    
        
      %tr  
        %td.first School 3  
        %td July 25th – July 28th  
        %td 11:00 am -5:00 pm   
        
      %tr
        %td.first School 4  
        %td August 1st – 4th   
        %td 11:00 am -5:00 pm    
        
      %tr  
        %td.first School 5  
        %td August 8th – 11th    
        %td 11:00 am -5:00 pm
      %tr
        %td.first{:style => "width: 30%;"} School 6  
        %td August 15th – 18th
        %td 11:00 am -5:00 pm     
      
    %p <strong>High Performance Camps $549</strong>
    %p Includes 18 holes of golf daily. Must be competent golfers
    
    %table
      %tr
        %th{:colspan => 3}
          Ages 13 – 17 years old 
      
        
      %tr  
        %td.first{:style => "width: 30%;"} School 7  
        %td August 22nd – 25th    
        %td 11:00 am -5:00 pm
        
    .movie_programs
      :markdown
        <object width="560" height="340"><param name="movie" value="http://www.youtube.com/v/JX9NPtdY5NY&hl=fr_FR&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/JX9NPtdY5NY&hl=fr_FR&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed></object>     
    
    %img{:src => '/images/nike_junior.jpg'}
           
  .accordion-toggle.last
  #6.accordion-content

%img{:src => '/images/instructional_programs.jpg'}
    
    
- content_for :side do
  %ul.large_arrow_list
    %li= link_to "Book your lesson, clinic or Golf School now", new_lesson_booking_path, :class => 'arrow'

