%h1 Season Passes
%h2 2011 MULTI ROUND PASSES

%p Select one of our three "Perfect 10" passes to suit your needs. All "Perfect 10" rounds can be booked seven days in advance and may be played anytime. All rounds include shared power cart.

/ %div.special 
/   %p 
/     %b PRE-SEASON SPECIAL: 
/     Purchase by April 15th and get two additional rounds!!

%table
  %tr
    %th{:colspan => 2} A "PERFECT 10" PASS
  %tr
    %td.first $795
    %td 10 rounds of golf including cart - anytime 
  %tr
    %td.first $895*
    %td * Couple Transferable
  %tr
    %td.first $995**
    %td ** Fully Transferable 

%p <strong>PERFECT 12:</strong> Purchase any "Perfect 10" pass before May 1st and receive 2 free rounds.
   
%p Do you like to play a LOT of golf? See these pass program options below and come be a regular at the Whistler Golf Club. For more information or to purchase your pass, call 604-932-3280.

%table
  %tr
    %th{:colspan => 3} 2011 SEASON PASSES
  %tr
    %td.first PROGRAM
    %td PRICE
    %td{:style => "width: 450px;"} PRIVILEGES
  %tr
    %td.first PALMER PASS
    %td $1995
    %td 
      %ul
        %li Unlimited golf - all season
        %li 30 day booking privilege - Monday to Friday
        %li Guest rates
        %li Book after 5pm the day before play - weekends & holidays 
        %li <strong>NEW FOR 2011</strong> - Save $200 on a Range Pass. Pay only $395.
  %tr
    %td.first STANDBY PASS
    %td $1495
    %td
      %ul
        %li Unlimited golf - all season
        %li Book after 5pm for next day play - Monday to Friday
        %li Guest rates
        %li Walk on privileges on weekends
        %li Book 1 week out when bringing a paying guest - Monday to Friday
        %li <strong>NEW FOR 2011</strong> - Save $200 on a Range Pass. Pay only $395.
  %tr
    %td.first TWILIGHT PASS
    %td $995
    %td
      %ul
        %li Unlimited golf during twilight times
        %li Book after 5pm for next day play - Monday to Friday
        %li Guest rates
        %li Walk on privileges on weekends and holidays
        %li <strong>NEW FOR 2011</strong> - Save $200 on a Range Pass. Pay only $395.
  %tr
    %td.first JUNIOR PASS
    %td $399
    %td
      %ul
        %li Unlimited golf anytime
        %li Same day booking Monday to Friday- walk on on weekends.
        %li <strong>NEW FOR 2011</strong> - Save $495 on a Range Pass. Pay only $100.
  %tr
    %td.first GOLF WHISTLER HAT TRICK
    %td $2299
    %td
      %ul
        %li 10 Rounds at Nicklaus North Golf Course 
        %li 10 Rounds at Whistler Golf Club
        %li 10 Rounds at Big Sky Golf & Country Club
        %li Tee times  Mon-Fri any time, Weekends & Holidays after 12pm 
        %li Fully transferable
        %li 48 hour advance booking
  %tr
    %td.first RANGE PASS
    %td $595
    %td 
      %ul 
        %li Unlimited range balls - anytime
        %li Fully renovated in 2010!


