- unless hole.nil?
  .hole.hole_card
    %h2= link_to hole.name, hole, :class => 'lightwindow page-options', :params => 'lightwindow_type=external,lightwindow_width=920,lightwindow_height=590'
    =link_to(image_tag(image_for(hole)), hole, :class => 'lightwindow page-options', :params => 'lightwindow_type=external,lightwindow_width=920,lightwindow_height=610')
 