%h1 WHISTLER’S LEADER IN GOLF GROUP OUTINGS

%p Welcome to Whistler’s number one choice for group golf outings! You’ll notice the difference in a Whistler Golf Club outing from the first moment you meet a member of the Whistler Golf Club team. An “anything-is-possible” attitude, an attention to detail and our complimentary planning and group outing services make a Whistler Golf Club outing…out of the ordinary. Check out our group outings packages for incredible “all in packages” that include golf with cart, practice balls and an amazing meal all at a great price!
%h4 Complimentary Group Outing Services 

= testimonial "The entire staff have always been exceptional. Many comments regarding condition & service. We are always treated very well. Thanks for all your help & patience.", "<b>MILLION DOLLAR HOLE-IN-ONE SHOOTOUT</b>"


.column.span-7
  %h2 Planning your outing:
  %dl 
    %dt BEFORE your Whistler Golf Club event:
    %dd
      %ul.checked
        %li Pre-event planning and consultation with Group Coordinator
        %li Transportation from hotels
        %li Private registration area
        %li Club cleaning
        %li Day lockers 
        %li Complimentary range, pitching, and putting green use
        
    %dt DURING your Whistler Golf Club event:
    %dd
      %ul.checked
        %li On-site supervision by CPGA Professionals or Group Coordinator
        %li Agenda, rules and competition format sheets
        %li High ratio of staff to guests
        %li On-course refreshment car service 
        %li Personalized golf car plaques for players and company names
        %li Personalized scorecards, bag tags, tees, divot repair tools
        %li Customized on course events (i.e. closest to the pin, long drive)
  
    %dt AFTER your Whistler Golf Club event:
    %dd
      %ul
        %li Complimentary scoring
        %li Transportation to hotel
        %li Bag storage
        %li A big thank you from us!
        
.column.span-7
  <object width="340" height="216"><param name="movie" value="http://www.youtube.com/v/iYRyQ2J1rsI?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/iYRyQ2J1rsI?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="340" height="216"></embed></object>

.clear
  
%h3 ADDITIONAL SERVICES AVAILABLE.
%p Ask our Sales Manager for more details
  
  
%p.pdf= link_to "DOWNLOAD OUR GROUP OUTINGS PACKAGES", '/pdfs/WGC_GroupSales11.pdf'
%p.email= link_to "REQUEST A GROUP OUTING NOW", new_group_outing_url 



%h2 TESTIMONIALS


= testimonial "Thanks again for a great tournament! Everyone had an exceptional time. I was even able to let loose a bit - well, a lot.", "<b>SALOMON</b> (North American sales conference)"

