%h1 WHISTLER GOLF CLUB WEDDINGS

%p Thank you for considering the Whistler Golf Club for your special day. The Whistler Golf Club’s location is perfect for weddings that are truly “Whistler”– a unique, outdoor ceremony setting that is surrounded by Whistler’s local mountain peaks, a central village location that is within walking distance of most of Whistler’s hotels, a beautiful clubhouse facility featuring a large, sunny patio, exceptional food and beverage selection and service, a complimentary shuttle for transporting guests to and from area hotels beyond walking distance, as well as plenty of free parking. Our events team will work personally with you and our preferred suppliers to set the stage for your day. We look forward to the opportunity to serve you on your special day.
= image_tag '/images/layout/wedding_image.jpg'
%h2 The Reception Venue
%p The clubhouse at the Whistler Golf Club is a perfect wedding reception venue. The post and beam construction accented with large, floor to ceiling windows provides great views of Whistler’s stunning scenery. The large patio, with optional tenting system, overlooks Whistler Mountain and allows for exceptional flexibility in the venue setup.

%h2 The Ceremony Site
%p Our wedding site is nestled between the fairways of the Whistler Golf Club on a beautiful grassy knoll in a natural peninsula. The area borders a large lake and is framed by bull rushes and tall fescue grasses. The site is surrounded by views of the entire valley including Whistler, Blackcomb and Rainbow mountains. The area comfortably accommodates up to 150 people and is unencumbered by golf course play. 



%h1 Banquets and Meetings
%p Whether it’s after meeting reception, party or good old get together, the Whistler Golf Club will take care of all your needs. Our clubhouse features a large patio overlooking the 18th green and Whistler Mountain that can accommodate a group from 16 to 120. Our dining adds an additional 50 seats making the Whistler Golf Club a great venue for your event regardless of the size. 

%p Our professional events team specializes in the flexibility needed to execute any type of event. Although outstanding service and food are our standards, it’s the pre- event and event time services that will allow you to relax and enjoy your day.

%p For more information, contact  Ro Davies at 604-938-5886.
%br

%p.pdf= link_to "DOWNLOAD OUR WEDDING AND FUNCTION PACKAGES", "/pdfs/WGC_Weddings11.pdf", :class => 'pdf_link'

%p.email= link_to "REQUEST A WEDDING OR FUNCTION NOW", new_wedding_event_url

