%h2 Wedding Slideshow
#slideshow
%script{ :type => "text/javascript" }
  var flashvars = {};
  var params = {wmode: 'opaque'};
  var attributes = {};

  swfobject.embedSWF("/flash/weddinggallery.swf", "slideshow", "530", "515", "9.0.0","/flash/swfobject/expressInstall.swf", flashvars, params, attributes);
