.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111382,'block_01')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111380,'block_02')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111379,'block_03')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111393,'block_04')