.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111398,'block_01')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111386,'block_02')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111385,'block_03')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111396,'block_04')