.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111387,'block_01')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111388,'block_02')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111389,'block_03')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111390,'block_04')