.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111383,'block_01')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111384,'block_02')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111397,'block_03')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111394,'block_04')