.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111372,'block_01')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111373,'block_02')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111376,'block_03')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111395,'block_04')