.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111369,'block_01')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111370,'block_02')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111371,'block_03')