.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111401,'block_01')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111402,'block_02')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111403,'block_03')
.promo_block
  %script{ :type => "text/javascript" }
    = generate_js_banner (111399,'block_04')