#book
  / %a#book_regular.lightwindow{ :href => "http://book.golfswitch.com/webpro/search.asp?CUSTID=WAA&COURSEID=FOR~1210&REF=http://www.whistlergolf.com", :params => "lightwindow_width=800, lightwindow_iframe_embed=true" }
  / %a#book_regular.lightwindow{ :href => "http://book.golfswitch.com/WebPro/teedate.asp?CUSTID=WAA&COURSEID=FOR1210&bdate=5/6/2011&playdt=20110506&REF=http://www.whistlergolf.com", :params => "lightwindow_width=800, lightwindow_iframe_embed=true" }
  %a#book_regular{ :href => "http://book.golfswitch.com/Course/courseList.asp?custid=WAA&courseid=FOR1210" }
    %span
      Book Tee Time
  %a#book_bc_residents{ :href => "/rates/bc-residents" }
    %span
      Book BC Residents
  %a#book_players_club{ :href => players_club_link, :params => "lightwindow_width=800"}
    %span
      Players Club
