.promo_block 
  %img{:src => "/images/banners/banner_nike_golf.jpg", :alt => "Nike Golf Banner"}
.promo_block
  %img{:src => "/images/banners/banner_group_golf.jpg", :alt => "Group Golf Banner"}
.promo_block
  %img{:src => "/images/banners/banner_weddings.jpg", :alt => "Weddings Banner"}
