.title_block_topside
  .twitter_mini 
    %a{:href => "http://twitter.com/whistlergolf", :target => "_blank"}
      %img{:src => "/images/layout/twitter_mini.gif", :alt => "Twitter"}
  %h6 Live twitter feed
.content_block_topside
  .tweet
.footer_block_topside
  
  