= render :partial => "pages/course/sidebar"

%h1 ARNOLD PALMER AND THE WHISTLER GOLF CLUB
%p The Arnold Palmer Design Company (APDC) has long been regarded as one of the premier companies in the golf course architectural industry. Founded 35 years ago in 1972, APDC has created approximately 300 courses around the world. APDC has won numerous awards and their courses have been the venues for many tournaments. The course in Whistler was designed in 1983 and was Arnold Palmer’s first Canadian design. 
= testimonial "Three things make a great golf course: scenery, challenge and fun; and my course at Whistler has them all", "<b>Arnold Palmer</b>, Whistler Golf Club Grand Opening"
%br 
%p
  = image_tag "/images/logos/ArnoldPalmerDesignCo.gif", :style => "float:right; padding: 0 0px 0px 20px;"
  Arnold Palmer’s design philosophy is simple: To design beautiful golf courses that are fun to play while maintaining the utmost respect for nature. Further, he applies current land planning trends that create value and a sense of place in communities by the thoughtful placement of his courses and amenities. 
.clear
%p 
  = image_tag "/images/arnold_palmer_swing.jpg"
  %br
  Beside Mr. Palmer’s magnificent performance record, his magnetic personality and unfailing sense of kindness and thoughtfulness to everybody with whom he comes in contact have endeared him to millions throughout the world and led to the informal formation of the largest non-uniformed "military" organization in existence - Arnie's Army. Seven of his victories came in what the golfing world considers the four major professional championships. He won the Masters Tournament four times, in 1958, 1960, 1962 and 1964; the U.S. Open in spectacular fashion in 1960 at Cherry Hills Country Club in Denver and the British Open in 1961 and 1962. He came from seven strokes off the pace in the final round in that U.S. Open win and has finished second in four other Opens since then. Among the majors, only the PGA Championship has eluded him. He has finished second in the PGA three times.

