%h1 Directions
%p The Whistler Golf Club is located in Whistler, British Columbia. The one hour and 30 minute drive from Vancouver on the newly renovated Sea to Sky Highway must be seen to be believed. Amazing views of Howe Sound and the glacier covered Coast Mountains await you and truly make the drive to Whistler one to remember.
=testimonial "The trip from Vancouver...showcased some of British Columbia's most breathtaking coastal and mountain scenery.", "Jamie Parcells, Association Director "

:markdown
  ### Driving To The Whistler Golf Club
  
  *	Once you reach Whistler you will pass a "Welcome to Whistler" sign 
  *	Continue straight on Highway 99 and go through 3 sets of lights 
  *	Make a right turn at the 4th set of lights onto Village Gate Boulevard 
  *	At the next set of lights, turn right and right again onto Whistler Way 
  *	Take the first right turn that goes beneath the highway via the underpass 
  *	Parking area adjacent to the golf course 
  
  ### Driving To The Range
  
  *	Follow the same directions as above 
  *	Do not go underneath the highway, stay on Whistler Way 
  *	The Range is on your right 
  *	It is marked with a red X on the map below 

  <p><a href="/images/directionsmap.gif" class="lightwindow">View the Larger Version
  <img src="/images/map.gif" />
  </a></p>
  
  <div class="clear"></div>
  [Get driving directions](http://www.mapquest.com/directions)
