%h1
  Frequently Asked Questions
%dl.faq
  %dt Is the golf cart included in the price? 
  %dd The Whistler Golf Club is a great walking course, therefore our prices do not include carts. Should you prefer not to walk, we give you the option to upgrade to a cart if you desire. Carts are $20 per person 
  %dt How far in advance can you book?
  %dd You can book anytime for Daily or group rates. 
  %dt Is the price in American dollars? 
  %dd No, all prices are in Canadian currency. 
  %dt Can I charge this to my room? 
  %dd The Whistler Golf Club offers golf and stay packages with all major hotel partners in Whistler. A la carte green fees, retail and food purchases must be paid for at the golf shop. 
  %dt Can my partner walk/ride with me even if he/she does not golf? 
  %dd Absolutley! Rider fee is $20. Walking is complimentary! 
  %dt What is the elevation and does it affect ball flight? 
  %dd The Whistler Golf Club is at 2200 feet. The ball travels about a 1/2 club further, however watch the wind as it has more of an impact here than the elevation. 
  %dt Is the yardage in "yards or metres"? 
  %dd Yardage is in yards. 
  %dt What is the course record? 
  %dd 3 hours and 15 minutes! --- 65 
  %dt How far is the drive to Whistler from Vancouver? 
  %dd 1 hour and 45 minutes from the airport on the newly renovated Sea to Sky highway. Give yourself more time as you will want to stop and take pictures. 
  %dt I heard there are bears on the course, is this true!? 
  %dd Yes you may see a black bear – sometimes even a mother with cubs. Our staff will let you know where they are. The bears will not bother you as long as you respect them. Do not approach or feed the bears! 
  %dt Who designed the course? 
  %dd The Whistler Golf Club was Arnold Palmer’s first Canadian design. 
  %dt Which is the best course in Whistler? 
  %dd All four courses are designer courses and great to play. Visit golfwhistler.com for great four course packages. 
  %dt What is the weather like in Whistler? 
  %dd Please go to the weather link for updated weather. Whistler is a mountain destination and thus the weather can fluxuate. Be prepared for warm weather, wind and yes even rain. In July and August it can easily get to 30 degrees celsius(90 farenheit) and in May, June and September, 20 degrees celsius (70 degrees farenheit) is the average temperature. 
  %dt Do I need a car to get to the Whistler Golf Club? 
  %dd The Whistler Golf Club is located right in Whistler Village. We offer a complimentary shuttle as well to pick you up from your hotel if needed. 
  %dt Do you have junior rates? 
  %dd Juniors play for free at the Whistler Golf Club! Each paying adult may bring one junior free of charge. Additional juniors are just $35. We even have junior tees at 150 yards and less on each hole for the little ones! 
  %dt Is there parking?
  %dd Yes there is plenty of free parking. 
