%h2 BC Residents

%h3
  %a.lightwindow{ :href => "http://book.golfswitch.com/webpro/search.asp?CUSTID=WAA&COURSEID=FOR~1210&BDATE=MAY%208,2009&Mo=05&DY=8&YR=2009&REF=http://www.whistlergolf.com", :params => "lightwindow_width=800, lightwindow_iframe_embed=true" }
    CLICK HERE TO BOOK NOW