%h1 JOBS AND CAREERS
:markdown
  <object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/SL690quYwOI&hl=fr_FR&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/SL690quYwOI&hl=fr_FR&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
  
%p.email= link_to "FORWARD YOUR RESUME", "mailto:luc@whistlergolf.com"


%p The Whistler Golf Club was opened in 1983 by the legendary Arnold Palmer. In concert with Mr. Palmer’s “go for it” attitude that he displayed when he played, we believe our golf experience we provide for our guests should be fun, entertaining, accessible and memorable. To that end we are looking for employees who can deliver and engaging and outgoing personality and truly get “cranked up” everyday to deliver our branded service experience.

=testimonial "I had a wonderful time working at the golf course. The friends I made and memories are something I will not forget.", 'Staff comment from year end Employee Opinion Survey'

%h3 What you need to know!
%p The Whistler Golf Club season runs from Early May to mid October. Seasonal employment can start as early as April and run to the end of October.



%p We are the number one summer employer in Whistler! How do we know this? Our new staff and returning staff tell us so.
%p We offer the best benefit program in Whistler. Besides offering competitive wages and benefits, we are known for our monthly <a href="/employment/gallery">staff events</a> that provide our staff with summer outdoor experiences they’ll never forget like Zip trekking, rafting, downhill mountain biking and of course all  the golf you can play!
%p Housing is much easier to rent in the summer than the winter.
%p We conduct an Employee Opinion Survey every year where our staff get to anonymously rate all aspects of the Whistler Golf Club employee experience. We conduct an Employee Opinion Survey every year where our staff get to anonymously rate all aspects of the Whistler Golf Club employee experience. Between 2007-2010, the Whistler Golf Club scored 86% - 92% overall satisfaction rating by our employees.
%p <strong>WARNING!</strong> Most staff that come for the summer to work never leave!!
%p <strong>JOB REQUIRMENTS IN ALL DEPARTMENTS</strong> - Outstanding guest service skills and an ability to deliver "Whistler's Attitude!"

%h2 Seasonal Jobs at the Whistler Golf Club
%dl 
  %dt GUEST SERVICES and GOLF SHOP
  %dd
    %ul
      %li Guest Hosts
      %li Golf Shop staff
      %li Retail Sales staff
      %li Merchandiser
      %li Guest Services administrator
      %li Sales and Group Coordinator

  %dt LEARNING AND PERFORMANCE CENTRE
  %dd
    %ul
      %li C.P.G.A. Teaching Professionals
      %li Golf Shop staff
      %li Guest Hosts

  %dt MAINTENANCE 
  %dd
    %ul    
      %li Irrigation technician
      %li Grounds Crew
      %li Foreman

  %dt FOOD AND BEVERAGE
  %dd
    %ul
      %li Servers
      %li Lead Servers
      %li Refreshment Car hostess
      %li Crab apple Corner hostess
      %li Lead Cooks
      %li Line Cooks

%p
  =link_to "Current Job Listings", '/employment/job-listings' 

- content_for :side do
  
  %ul.large_arrow_list
    %li= link_to "Is your job this much fun?", '/employment/gallery'
    %li=link_to "Current Job Listings", '/employment/job-listings', :class => 'arrow_link'
    %li=link_to "Forward Your Resume", 'mailto:luc@whistlergolf.com', :class => 'arrow_link'