%h1 Whistler's #1 choice for group outings

%p We pride ourself on being the most accessible golf course in British Columbia. To do this we ensure we work with you, the group convenor, to ensure your event is delivered the way you want it, as opposed to a pre-built golf course script. Group golf outings are our specialty and outside the box thinking is our mantra. For example when the Canadian Olympic Committee asked if they could have their guest have a closest to the pin competition against an Olympic archer on the 17th hole we made it happen! Whatever your business or group theme is we will ensure you get the exposure you need that will leave your guests with the lasting impression you are looking for.
 
%img{:src => '/images/event_planning.jpg'}
 
%p Located in the heart of Whistler Village, the Whistler golf club is within walking distance of resort hotels and amenities. Our hotel partners have offered us the best lodging rates available which gives us the opportunity to provide great golf and stay value for you the group convenor and your guests.
 
%p Golf is our game but outside events are our specialty as well. Everything from car shows, weddings, banquets, birthday parties, celebrations of life, corporate outings,bike races- we've done it all! Call our Sales team and ask how we can make your event something to remember.


%p= link_to "Submit A Wedding or Banquet Event Request", new_wedding_event_path
%p= link_to "Submit A Group Outing Request", new_group_outing_path