%h2 Great golf is just the beginning 
%p The Whistler Golf Club clubhouse, with its stunning outside patio, was built to entertain family members and friends for any type of special outing.  Whether it's weddings, banquets, receptions, birthday parties or just good old get-togethers our events team professional will turn your event into the special occasion you are looking for.  Our events team will work with your vision to ensure your day meets and exceeds all your expectations. Our clubhouse is perfect for intimate groups of 50 to 150. With its stunning post and beam construction and floor to ceiling windows the clubhouse has a great outdoors feel throughout with stunning views of the golf course and Whistler Mountain.
 


 
%p The Golf Shop at the Whistler Golf Club has been voted one of the top 100 by Golf World Business magazine. Featuring the latest in golf and lifestyle fashion for the Whistler golfer, the golf shop provides and outstanding shopping experience for the golfer and non-gofler alike.
 
%p The newly renovated Range at the Whistler Golf Club is now a true practice facility where you can work on all aspects of your game. The Range now boats five target greens, a great putting green and a full short game practice area including a chipping green and practice bunker. Our C.P.G.A Teaching Professionals are on site to help your with all aspects of your game using the latest in video analysis. The Range provides you the opportunity to be custom fit for the latest golf equipment. If you equipment just needs a tune up we provide full club repair and re-gripping services as well. The Range can be found right in the heart of the Whistler village.