%h1 Privacy
:markdown
  ## Scope of this Policy
  
  This Privacy Policy sets out the principles which the Whistler Resort Association ("Tourism Whistler") will observe regarding the collection, use and disclosure of personal information about any identifiable person, including Tourism Whistler's customers and members, but excluding Tourism Whistler's employees and volunteers.
  
  This Privacy Policy is subject to all applicable laws.
  
  ### Definitions
  
  "Customers" and "members" includes current, past and prospective customers and members.
  
  "Personal information" means any information about an identifiable individual, whether it was collected before or after this Policy was first published, including but not limited to the individual's name, address, age, gender, identification numbers, income, employment, assets, liabilities, credit card numbers, credit ratings, financial plans and other finance-related information. "Personal information" may also include a physical description, habits, personality, character, marital history, immigration status, travel or movement details, lifestyle, leisure activities, professional or trade union memberships, and licences and permits held. With respect to any specific individual, Tourism Whistler may or may not have personal information within these enumerated categories.
  
  ### Principle 1 - Tourism Whistler's Accountability
  
  Tourism Whistler is responsible for all personal information under its control. The Tourism Whistler Privacy Officer (the "Privacy Officer") is accountable for Tourism Whistler's compliance with the principles described in this Policy, and may be contacted at:
  
  Tricia Littrell
  
  Privacy Officer
  
  Fax - 1.604.932.7231
  Email - privacy@tourismwhistler.com
  
  ### Principle 2
  
  The Purposes for (and the manner in which) Tourism Whistler May Collect, Use or Disclose Personal Information
  
  Subject to applicable law, Tourism Whistler will identify the purposes for which personal information is collected, used or disclosed before that information is collected, used or disclosed, as the case may be.
  
  General Purposes
  
  The general purposes for which Tourism Whistler may collect, use or disclose information concerning customers and members include the following:
  * to manage and promote Tourism Whistler's operations;
  * to better understand the needs of Tourism Whistler's customers and members, to provide promotional and other information about Whistler, and to respond to specific requests;
  * to fulfill requests for reservations, bookings or other arrangements with third parties;
  * to operate and fulfill contests; and
  * to comply with legal and regulatory requirements.
  
  Tourism Whistler generally collects personal information directly from its customers and members. From time to time, Tourism Whistler may also collect information from external sources such as credit reporting agencies, credit grantors and income sources and personal references identified to Tourism Whistler for this purpose.
  
  ## Internet-Specific Issues
  
  When using the Send To A Friend or the eCard features available through the Tourism Whistler Website, the sender's personal information is used to send an email personalized with the sender's name and email address. This information is not retained by Tourism Whistler unless the sender opts to receive the Whistler Insider (formerly myWHISTLER eNews & Deals) Newsletter or otherwise indicates that his or her personal information should be retained for other uses. The recipient's email address is not retained by Tourism Whistler and is deleted from Tourism Whistler's servers as soon as the email is sent.
  
  Like many other websites, the Tourism Whistler Website automatically collects certain non-personal information regarding Website users, such as the date and time the Website is accessed, the Internet address of the Website from which the Website is linked, the operating system that is being used, and the Website pages read and images viewed. This non-personal information is used for system administration purposes and to improve the Website. Non-personal information may be disclosed to other persons and permanently archived for future use.
  
  Tourism Whistler's Website occasionally use "cookies", a technology that installs a small amount of information on a Website user's computer to permit the Website to recognize future visits using that computer. Cookies enhance the convenience and use of the Website. Tourism Whistler also uses pixels, or transparent GIF files, to help manage advertising on its Website. These GIF files are provided by DoubleClick. These files enable DoubleClick to recognize a unique cookie on users' Web browsers, which in turn enables Tourism Whistler to learn which advertisements bring users to the Tourism Whistler Website. The information collected through these technologies is anonymous and is not personal information. Individuals may choose to decline these technologies if their browser permits, but doing so may affect their ability to access or use certain features of the Tourism Whistler Website.
  
  The Tourism Whistler Website may contain links to other Websites or Internet resources. When an individual clicks on one of those links, he or she is contacting another Website. Tourism Whistler has no responsibility or liability for or control over those other Websites or their collection, use and disclosure of personal information.
  
  ### Operational Transfers
  
  Tourism Whistler may be involved in the sale, merger, consolidation, transfer or reorganization of some or all of its operations at some time in the future. As part of that sale, transfer or reorganization, Tourism Whistler may disclose personal information to the acquiring organization, but will require the acquiring organization to agree to protect the privacy of the personal information in a manner that is consistent with this Privacy Policy.
  
  Disclosure to Affiliates, Agencies and Service Providers
  
  Tourism Whistler may transfer personal information to a third party for processing or to provide services, including third parties for whom Tourism Whistler acts as a booking or reservations agent, but will use contractual or other means to provide a comparable level of protection while the information is in the custody of that third party.
  
  ### Changed Purposes
  
  From time to time, Tourism Whistler may wish to use or disclose personal information for a purpose other than that for which it was initially collected. Tourism Whistler will ensure that personal information is not used or disclosed for that new purpose unless the individual is informed of the new purpose and gives his or her consent.
  
  ### Principle 3 - Consent
  
  Subject to applicable legal exceptions, Tourism Whistler will make a reasonable effort to ensure that the individual is advised in advance of the purposes for which his or her personal information will be collected, used or disclosed, and that his or her consent to those activities is obtained. As required by applicable law, consent may be express or implied.
  
  Tourism Whistler may from time to time, send to customers and members information which may be of interest to them. If a customer or member prefers not to receive this type of information, they may opt-out of receiving it by contacting Tourism Whistler at optout@tourismwhistler.com. This option will also be printed at the bottom of all emails sent by Tourism Whistler. Upon being notified of the preferences expressed by any customer or member, Tourism Whistler will not send them such materials again. Please note that customers and members cannot opt-out of receiving information which Tourism Whistler is required by law to send to them.
  
  ### Principle 4 - Limiting Collection
  
  Tourism Whistler will not, as a condition of the supply of products or services, require an individual to consent to the collection, use or disclosure of personal information beyond that required to fulfill Tourism Whistler's specified and legitimate purposes.
  
  ### Principle 5 - Limiting Use, Disclosure and Retention
  
  Tourism Whistler will not use or disclose personal information for purposes other than those for which it was collected, except with the consent of the individual or as required or permitted by law. Personal information will be retained only as long as necessary for the fulfillment of those purposes.
  
  Personal information that has been used by Tourism Whistler to make a decision about an individual will be retained long enough to allow the individual access to the information after the decision has been made. Tourism Whistler will develop and implement guidelines to govern the destruction of personal information, which will be retained only as long as necessary for the identified purposes or as required by law.
  
  ### Principle 6 - Accuracy
  
  Tourism Whistler will keep personal information as accurate, complete, and up-to-date as is necessary for the purposes for which it is to be used. However, Tourism Whistler will not routinely update personal information, unless such updating is necessary to fulfill the purposes for which the information was collected.
  
  Tourism Whistler will generally rely on individual customers and members to provide up-dated information, such as changes to addresses and other contact information, and changed financial information.
  
  If an individual successfully demonstrates to Tourism Whistler that personal information is inaccurate, incomplete, out of date, or irrelevant, Tourism Whistler will revise the personal information. If necessary, Tourism Whistler will disclose the revised personal information to third parties which were provided with the wrong information to permit them to revise their records as well.
  
  ### Principle 7 - Safeguards
  
  Security safeguards are employed to protect personal information against loss or theft, as well as unauthorized access, disclosure, copying, use, or modification. The nature of the safeguards will vary depending on the sensitivity of the personal information that has been collected, the amount, distribution, and format of the information, and the method of storage. The more sensitive personal information will be safeguarded at a higher level of protection.
  
  The methods of protection employed by Tourism Whistler will include:
  
  * physical measures, including locked filing cabinets and restricted access to offices;
  * organizational measures, such as security clearances and limiting access on a "need to know" basis;
  * technological measures, such as the use of passwords and ENCRYPTION.
  
  Tourism Whistler will inform employees and volunteers about Tourism Whistler's policies and procedures for protecting personal information and will emphasize the importance of complying with them. Employees and volunteers will be required to conform to Tourism Whistler's policies and procedures concerning the security of personal information.
  
  Tourism Whistler will use care in the disposal or destruction of personal information, to prevent unauthorized parties from gaining access to the information.
  
  ### Principle 8 - Openness
  
  Tourism Whistler will be open about its policies and procedures with respect to management of personal information. Tourism Whistler will make this information available in a form that is generally understandable.
  
  Copies of this Privacy Policy will be made available to customers, members, and to other members of the public.
  
  ### Principle 9 - Individual Access
  
  Upon an individual's request in writing, Tourism Whistler will inform that individual of the existence, use, and disclosure of his or her personal information and the individual will be given access to that information, except where the law requires or permits Tourism Whistler to deny access. Tourism Whistler may require the individual to provide sufficient information to permit Tourism Whistler to provide an account of the existence, use, and disclosure of personal information.
  
  Tourism Whistler will respond diligently to a proper request and in any case not later than 30 days after receipt of the request, unless that time is extended according to applicable law. As permitted by applicable law, certain charges may be applicable in respect of certain requests.
  
  ### Principle 10 - Challenging Compliance
  
  An individual will be able to direct a challenge concerning compliance with this Privacy Policy to the Tourism Whistler Privacy Officer. Tourism Whistler will establish procedures to receive and to respond to complaints or inquiries about Tourism Whistler's policies and practices relating to the handling of personal information. The complaint procedure will be easily accessible and simple to use.
  Tourism Whistler will investigate all complaints. If Tourism Whistler finds that a complaint is justified, Tourism Whistler will take appropriate measures, including, if necessary, amending its policies and practices