- @page_title = "Rates"
%h1 2011 RATES

%p At the Whistler Golf Club we pride ourselves in being the most accessible course in B.C. Whether you are a low handicapper trying to beat our course record or a mom and dad that want to play 5 holes in the evening with your kids, we've got a green fee rate and a tee time for you. If you don't see a program that fits your schedule, please call our Sales Manager and he will custom design a green fee rate for you.

=testimonial "#27, top 100 public or resort courses in Canada", 'Globe and Mail'

%p The Whistler Golf Club is a great walking course, however, golf carts are available. All green fee rates include complimentary range balls. <a href="/group_outings/new">Group rates</a> are available for 12 or more players. If you are a <b><a href="#bc">BC Resident</a></b>, <a href="#bc">click here</a>.

%h3 2011 GREEN FEE RATES

%table
  %tr
    %th 
    %th Daily
    %th Golf and Dine* <br> (1pm)
    %th Twilight <br> (3pm)
    %th Sunset (5pm) <br />or 9 Holes anytime
    %th 5 after 5**
  %tr
    %td.first May 
    %td $109
    %td $99
    %td $69
    %td $59
    %td $15
  %tr
    %td.first June-September
    %td $129
    %td $119
    %td $89
    %td $69
    %td $15
  %tr
    %td.first October 
    %td $109
    %td $99 
    %td $69
    %td $59
    %td $15
    
    
//%h2= link_to "BOOK ONLINE AND SAVE <span class='small_button_text'>Daily green fee specials while they last</span>", "http://book.golfswitch.com/webpro/search.asp?CUSTID=WAA&COURSEID=FOR~1210&BDATE=MAY%207,2010&Mo=05&DY=7&YR=2010&REF=http://www.whistlergolf.com", :class => 'lightwindow booking_link', :params=>"lightwindow_width=800"

%h2= link_to "BOOK ONLINE AND SAVE, "http://book.golfswitch.com/Course/courseList.asp?custid=WAA&amp;courseid=FOR1210", :class => 'booking_link'

     	
%p.specials *GOLF AND DINE: Includes 18 holes of golf including complimentary practice balls and a $20 food credit in Palmer's Gallery Bar and Grill.

%p ** 5 holes of golf after 5pm.

%p Contact Ro Davies, Sales Manager at 604-938-5886 for more information. Rates are in Canadian dollars.

%p.download.pdf
  = link_to "Click here to download our Palmer’s Gallery Bar and Grill menu ", '/pdfs/WGC_PalmerMenu11.pdf'
  
%p.download.pdf
  = link_to "Click here to download our 2011 Green Fee rates ", '/pdfs/WGC_TemplateRates11.pdf'


.rule


%dl.inline
  %dt Nike Rental Clubs:
  %dd $50/$25* (*9 Holes or after 5pm) 
  .clear
  %dt Golf Carts:
  %dd $20 per rider / $10 per rider after 5pm
  .clear
  %dt Pull Carts: 
  %dd Complimentary
  .clear
  %dt Rental Shoes:
  %dd $15 

%a{:name => 'bc'}
%br
%h3 2011 BC RESIDENT RATES*

/ %p.special *See booking privileges below 

%table.rates
  %tr
    %th 
    %th Daily
    %th Savings!
    %th Twilight <br> (3pm)
    %th Sunset (5pm) <br />or 9 Holes anytime
    %th 5 after 5**
  %tr
    %td.first May
    %td $79
    %td $30
    %td $69
    %td $59
    %td $15
  %tr
    %td.first June-September
    %td $99
    %td $30
    %td $89
    %td $69
    %td $15
  %tr
    %td.first October
    %td $79
    %td $30
    %td $69
    %td $59
    %td $15
      



//%h2= link_to "BOOK ONLINE AND SAVE <span class='small_button_text'>Daily green fee specials while they last</span>", "http://book.golfswitch.com/webpro/search.asp?CUSTID=WA3&COURSEID=FOR~1210&BDATE=MAY%201,2010&Mo=05&DY=1&YR=2010&REF=http://www.whistlergolf.com", :class => 'lightwindow booking_link', :params=>"lightwindow_width=800"

%h2= link_to "BOOK ONLINE AND SAVE <span class='small_button_text'>Daily green fee specials while they last</span>", "http://book.golfswitch.com/Course/courseList.asp?custid=WA3&amp;courseid=FOR1210", :class => 'booking_link'



%p.specials * Booking Privileges: Tee times may be booked one month from date of play.  Valid BC Drivers license will be requested at check-in.

%p ** 5 holes of golf after 5pm.
