%h1 STAY AND PLAY PACKAGES
  
%h2 WHISTLER “UNLIMITED GOLF” PACKAGE!
%p Book a Whistler Unlimited Golf package*, and get one night accommodation in beautiful Whistler resort and play as much golf in one day as you can handle. Located in the heart of Whistler Village, the Whistler Golf Club is a short walk from all of Whistler's best accommodations. A range of accommodation options are available, to book yours, please call 1-800-376-1777 or email reservations at <a href="mailto:golfr@whistlergolf.com">golfr@whistlergolf.com</a>.
%h3 2011 Unlimited Golf Package Rates

%table
  %tr
    %th{:style => "width: 40%;"} Season
    %th{:style => "text-align: center;"} Price/person from**
  %tr
    %td.first MAY
    %td $139
  %tr
    %td.first JUNE
    %td $149
  %tr
    %td.first JULY-SEPTEMBER
    %td $169
  %tr
    %td.first OCTOBER
    %td $139
    
%p
%p
%p
%p
    
%h2 WHISTLER GOLF AND SPA PACKAGE!
%p Book a Whistler Golf and Spa package and get one night accommodation in beautiful Whistler resort, one round of golf at the Whistler Golf Club and Scandinavian Bath access at the Scandinave Spa just minutes from the Whistler Golf Club. Located in the heart of WhistlerVillage, the Whistler Golf Club is a short walk from all of Whistler's best accommodations. A range of accommodation options are available, to book yours, please call 1-800-376-1777 or email reservations at <a href="mailto:golfr@whistlergolf.com">golfr@whistlergolf.com</a>. For more information on the Scandinavian Baths please <a href="http://www.scandinave.com/en/whistler/scandinavian-baths/" target="_blank" >click here</a>. Guys you’ll love this too. Our Teaching Pros visit often! “The baths are a great way to forget those double bogeys. Relaxation at its best.”
%h3 2011 Golf and Spa Package

%table
  %tr
    %th{:style => "width: 40%;"} Season
    %th{:style => "text-align: center;"} Price/person from**
  %tr
    %td.first MAY
    %td $186
  %tr
    %td.first JUNE
    %td $196
  %tr
    %td.first JULY-SEPTEMBER
    %td $216
  %tr
    %td.first OCTOBER
    %td $186


%p *Unlimited golf: re-play rounds are standby. After first round check in with golf shop to access first tee.

%p ** Price per person is based on double occupancy and is subject to applicable taxes.