 

		
            
<br>

<a name="quebec"></a>
<h2>Important Information For Residents of Quebec</h2>
<p>Thank you for your interest in our contest. We understand your disappointment and hope the following will clarify reasons behind exclusion of contestants from Quebec.</p>
<p>When a contest is run in Quebec, approval must be received from a separate body called the "Régie des alcools, des courses et des jeux." This board is set up by the Quebec provincial government and regulations are strict. The approval process involves fees and weeks of applications, justifications and reports. While we would love to include Quebec contestants, the long approval process and associated expenses present significant challenges when faced with time-sensitive promotions.</p>
<p>For more information on the Régie des alcools, des courses et des jeux, visit their website: <a href="http://www.racj.gouv.qc.ca/Index.asp?lang=en&amp;" class="bodylink" target="_blank">english</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.racj.gouv.qc.ca/" target="_blank">français</a></p>
<br><br>
<a name="rules"></a>
<h2>Rules and Regulations</h2>
<ol>
	<li>No purchase necessary. </li>
	<li>One entry per individual. </li>
	<li>One (1) prize will be available to be awarded. </li>
	<li>The package is for 20 people. </li>
	<li>The Grand prize is golf for 20 players at the Whistler Golf Club valid Monday to Friday from the date of the draw to the end of the 2011 golf season.</li>
	<li>The prize includes golf carts and practice balls. The prize is to be used in one outing. It may not be divided up and used at different times. </li>
	<li>Prize is not transferable. No substitution or cash equivalent of the prize is permitted. Any portion of the prize not accepted by a winner will be forfeited. </li>
	<li>Federal, and provincial taxes on the prize that may apply are the responsibility of the winner and her/his guest. </li>
	<li>Winner and traveling companions must each sign a declaration and release form confirming compliance with contest rules, acceptance of prize as awarded and releasing Tourism Whistler from liability. </li>
	<li>No purchase necessary. </li>
	<p><b>Eligibility</b></p>
	<li>To be eligible to win the Prize, the selected entrant must correctly answer a skill testing question, be of the age of majority in their province/state of residence, and must not be an employee of, or living with an employee of Tourism Whistler. Not valid in the province of Quebec or elsewhere where prohibited by law. The sweepstakes is subject to all applicable federal, provincial, and local laws and regulations. </li>
	<p id="draw"><b>Draw</b></p>
	<li>The draw will be held on or about April 15th, 2011, in Whistler, British Columbia. 1 winner will be selected at random by Tourism Whistler from among the eligible entries received. </li>
	<p><b>Odds</b> </p>
	<li>The odds of winning the prize depend on the number of eligible entries received by 11:59 pm, April 15th, 2011.</li>
	<p><b>Winner Notification/Prize Awards</b></p>
	<li>Tourism Whistler will attempt to contact selected entrants via email and/or telephone for approximately one (1) week following the draw, between 9:00 A.M. and 9:00 P.M. If Tourism Whistler is unable to contact the selected entrant after five (5) attempts, the submission will be rendered null and void and another selected entrant will be chosen. This procedure will be repeated until a selected entrant has been contacted within the given time. In order to win the Prize, the selected entrant must have complied with the official contest rules, correctly answered the skill-testing question to be administered by email, and sign and return Tourism Whistler's standard declaration and release form which will be sent by email. The prize will be forfeited if the declaration and release form is not returned to Tourism Whistler within five (5) days after prize notification. Prize must be accepted as awarded, without substitutions or transfers. Any additional costs incurred in using a prize are a winner's responsibility. Winners are responsible for the reporting and payment of any taxes that may be associated with the prize. </li>
	<p><b>General</b></p>
	<li>All entries become the property of Tourism Whistler and will not be returned. By entering the contest you agree to Tourism Whistler's use of your personal information as described in the www.whistlergolf.com privacy policy. </li>
	<li>Tourism Whistler, its affiliates and partners accept no responsibility or liability in connection with any loss or accident incurred in connection with prizes. </li>
	<li>Tourism Whistler reserves the right to terminate this contest or change the contest rules at any time without notice. Any attempt to deliberately damage www.whistlergolf.com or undermine legitimate operation of this promotion is a violation of criminal and civil laws. </li>
	<li>Tourism Whistler will post winner's details (first name, last name and city) on www.whistlergolf.com. </li>
	<li>Participation in the contest constitutes acceptance and agreement to these rules.</li>

</ol>
	
