<p>Thank you for requesting a golf instruction program at the Whistler Golf Club. Our professional staff will be in touch shortly to confirm your program selection.</p>

<p>Thank You</p>
<p>
<strong>Alan Kristmanson</strong><br>
Director of Golf
</p>