<table width="600" border="0">
<tr>
  <td>
    <%= @email_message.text %>
  </td>
</tr>
<tr>
  <td><br>
  <%= image_tag "http://www.whistlergolf.com/#{@email_message.attachment.url}" %>
  </td>
</tr>
</table>
<p>
Sincerely<br>
Ro Davies<br>
Sales Manager<br>
Whistler Golf Club<br>
604-938-5886
</p>