%h1 Players Club

%h2=link_to "Book Tee Time Now", player_content('Players Club Booking Link'), :class => 'lightwindow booking_link', :params => 'lightwindow_width=805'

%p= player_content('Players Club Booking Info')

%p= player_content("Players' Club Content")