%h1 Palmer’s Gallery Bar and Grill
= image_tag "/images/logos/PalmersGallery_BarGrill.gif", :style => 'float: right;'
%p The Whistler Golf Club clubhouse is home to Palmer’s Gallery Bar & Grill. Its décor is a tribute to Palmer’s career, but the atmosphere is a tribute to Arnie’s Army–the dedicated, raucous fans who followed Palmer. 
%p The restaurant boasts a spectacular 100 seat patio overlooking the 18th green and Whistler’s surrounding peaks and features an outdoor bar and barbecue that is fast becoming one of Whistler’s favourite après spots. Meet friends for a casual, comfortable lunch, grab a quick bite “to-go” before your round of golf or pull up a seat to the bar and rehash your game with a friendly bartender. 
%p Palmer's Gallery is perfect for weddings, banquest or get together for groups of 50 to 200 that want a great location combined with outstanding cuisine  and service all in a comfortable atmosphere.
=image_tag "/images/patio.jpg"
- content_for :side do
  %ul.large_arrow_list
    %li.download= link_to 'Download our <b>restaurant menu</b>', '/pdfs/WGC_PalmerMenu10.pdf'
    
