%h1 The Range
:markdown
  
  Known in Whistler as “The Range”, our practice facility opened July 17,  2010 after a complete renovation. Whether you’re looking to work on every aspect of your game, or simply stopping by to rent a club and hit a few balls, The Range now has everything you need. Located just east of the golf course, The Range offers a complete series of lesson programs including private and couples lessons, mixed and ladies group clinics, junior golf schools and more.
  
  ## RENOVATION FEATURES
  * Driving range featuring 5 target greens with bunkers	
  * New, enlarged putting green
  * New chipping green with expanded practice bunker
  * Enlarged grass tee
  * State-of-the-art Fiberbuilt synthetic tee system
  
  ## FACILITY FEATURES
  * Nike Custom Club Fitting and Repair Centre
  * Lessons and clinics for all ages and abilities
  * <a href="/rates/instructional-programs?acc=6">Nike Junior Golf Schools</a>
  * Video analysis and Launch monitor.

  <a href="/rates/instructional-programs?acc=1">Click here for lesson prices and packages</a>
  
  
  ## PRACTICE BALL PRICES
  * Warm up balls – complimentary with green fee
  * 100 practice balls	$13.00 
  * 50 practice balls	$9.00
  * 30 practice balls	$5.00
  * Unlimited balls for 1 hour	$15.00 p.p. 
  * Club rental	$2.00

  “The Range” is located with a red X mark on the map.

  <image src="/images/map.gif" />
