%h1 The Range
:markdown

  ### 2010 Spring clinics start May 10th

  Book your spring or summer session clinic now. All sessions include 5 one hour group clinics plus 5 sunset green fees valid anytime!! Our clinics include Introduction to Golf, Juniors, Ladies Only and our 6 Session Player's Clinics. For details on all our clinics click on the link below.
  
  <a href="/rates/instructional-programs">Group Clinics and Nike Junior Golf School schedule and rates</a>

  A full service Learning and Performance Centre is located just north of the Whistler Golf Club. It includes a driving range, practice bunker and chipping and putting green. Improve your game and enroll in a lesson or clinic with a Canadian PGA Teaching Professional. 

  ## FEATURES:
  * Custom club fitting and a repair centre 	
  * Lessons and clinics for all ages and abilities	
  * Nike Junior Golf Schools- link to lessons page in rate section 	
  * A putting green, bunker and short game area 	
  * A Golf Shop with the latest equipment and apparel	
  * State of the art video analysis and custom club fitting from our Canadian PGA Teaching Professionals 	

  <a href="/rates/instructional-programs?acc=1">Click here for lesson prices and packages</a>
  
  

  ## PRACTICE BALL PRICES
  * Warm up balls – complimentary with green fee
  * 100 practice balls	$13.00 
  * 50 practice balls	$9.00
  * 30 practice balls	$5.00
  * Unlimited balls for 1 hour	$15.00 p.p. 
  * Club rental	$2.00

  The Learning & Performance Centre is located with a red X mark on the map.

  <image src="/images/map.gif" />
