<h1>Editing Lesson Booking</h1>

<% form_for(@lesson_booking) do |f| %>
<%= render :partial => "form", :locals => {:f => f} %>
<p>
  <%= f.submit "Update" %>
</p>
<% end %>

<%= link_to 'Show', @lesson_booking %> |
<%= link_to 'Back', lesson_bookings_path %>
