<h1>New Lesson Booking</h1>

<% form_for(@lesson_booking) do |f| %>
<%= render :partial => "form", :locals => {:f => f} %>
<p>
  <%= f.submit "Submit" %>
</p>
<% end %>

<%= link_to 'Back', lesson_bookings_path %>
